// Use LessCSS to centrally define colors, fonts, dimensions
// (size, height, and width), selectors or URLs 
// as well as their variations (such as lighter/darker). 

// Less
@background-color: #96dbec;
@text-color: #000000;
p{
background-color: @background-color;
color: @text-color;
padding: 15px;
}
ul{
background-color: @background-color;
}
li{
color: @text-color;
}